<h1>Buscador</h1>
<hr/>
<h3 class="mb-4">Resultados de búsquedad para <i>"{{ searchString }}"</i></h3>
<div class="card-columns" *ngIf="heroes.length > 0">
  <app-heroe-card [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-card>
</div> 

<div class="jumbotron" *ngIf="heroes.length < 1">
  <h1 class="display-4">Sin resultados</h1>
  <p class="lead">No hemos encontradp resultados para <i>"{{ searchString }}"</i></p>
  <hr class="my-4">
  <a class="btn btn-outline-primary btn-lg" [routerLink]="['/heroes']" role="button">Ver todos los héroes</a>
</div>
