<h1>{{ heroe.nombre }}</h1>
<small>{{ heroe.aparicion }}</small>
<hr>

<div class="row">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre" [title]="heroe.nombre">
    <a href="#" class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>{{ heroe.bio }}</p>
    <div>
      <img *ngIf="heroe.casa == 'DC'" src="assets/img/dc-comics-logo.png" [alt]="heroe.casa" [title]="heroe.casa" class="logo-casa">
      <img *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel-logo.jpg" [alt]="heroe.casa" [title]="heroe.casa" class="logo-casa">
    </div>
  </div>
</div>